<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <div class="page-header-bar">
    <h2>
      <th:block th:if="${pet['new']}">Add New Pet</th:block>
      <th:block th:unless="${pet['new']}">Edit Pet</th:block>
    </h2>
  </div>

  <div class="form-card">
    <form th:object="${pet}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
        <label th:text="#{name}">Name</label>
        <input type="text" th:field="*{name}" placeholder="Pet's name" />
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('birthDate')} ? 'has-error'">
        <label th:text="#{birthDate}">Birth Date</label>
        <input type="date" th:field="*{birthDate}" />
        <span class="help-block" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Error</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('type')} ? 'has-error'">
        <label th:text="#{type}">Type</label>
        <select th:field="*{type}" th:replace="~{fragments/selectField :: select ('Type', 'type', ${types})}">
          <option>Type</option>
        </select>
        <span class="help-block" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Error</span>
      </div>

      <input type="hidden" name="ownerId" th:value="${owner.id}" />

      <div class="btn-group">
        <button class="btn btn-primary" type="submit">
          <span class="fa fa-check"></span>
          <span th:if="${pet['new']}" th:text="#{addPet}">Add Pet</span>
          <span th:unless="${pet['new']}" th:text="#{updatePet}">Update Pet</span>
        </button>
      </div>
    </form>
  </div>

</body>

</html>
